.matrixmanagebuttonright {
  border: 0px;
  background-color: #353535;
  color: white;
  border-radius: 0px;
  padding: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.matrixmanagebuttonleft {
  border: 0px;
  background-color: #353535;
  color: white;
  border-radius: 0px;
  padding: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.matrixmanagebutton {
  border: 0px;
  background-color: #353535;
  color: white;
  border-radius: 0px;
  padding: 0px;
}
.matrixmanagebutton:hover {
  border-width: 0px;
  padding: 0px;
}
.matrixbutton {
  border-width: 1px;
  border-color: #a0a0a0;
  background-color: #353535;
  padding: 4px;
  border-radius: 8px;
}
.matrixbutton:hover {
  border-width: 1px;
  border-color: #d0d0d0;
  padding: 4px;
  border-radius: 8px;
  background-color: #3a3a3a;
}
.rounded {
  border-radius: 8px;
}